// MIXINS

@mixin centrado {
  display: block;
  margin: 0 auto;
}

@mixin sombra($color: rgba(0, 0, 0, 0.2)) {
  box-shadow: 0 4px 8px $color;
}

@mixin titulo-principal {
  font-family: $fuente-principal;
  font-size: $main-title-font-size !important;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

@mixin fondo-con-imagen($imagen, $color-overlay: rgba(255, 255, 255, 0.2)) {
  position: relative;
  background-image: url(#{$imagen});
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $color-overlay;
    z-index: -1;
  }

  >* {
    position: relative;
    z-index: 1;
  }
}