//FORMULARIOS

.formulario-contacto input,
.formulario-contacto textarea {
    font-size: 1.5em;
}

.formulario-contacto label,
form label {
    font-size: 2rem;
    font-family: $fuente-principal;
    font-weight: bold;
}

input {
    display: block;
    margin: 0 auto;
}

.cantidad-input {
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 150px;
}