// FUENTES Y ESTILOS DE TEXTO

body {
    font-family: $fuente-principal;
    background: $color-fondo;
    color: $color-texto;
}

h2 {
    font-family: $fuente-principal;
    font-size: 35px;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 25px;
}

// Aplicar el mixin a los selectores de títulos
.titulo,
.titulos,
h1,
.card-title {
    @include titulo-principal;
}