// Paleta de colores y fuentes

$fuente-principal: 'Cookie', cursive;
$fuente-secundaria: 'Ribeye Marrow', cursive;
$color-fondo: #fffefc;
$color-texto: #333;
$color-blanco-transparente: rgba(255, 255, 255, 0.85);
$sombra: 0 4px 8px rgba(0, 0, 0, 0.2);

// Variables para tamaños de fuente
$navbar-brand-font-size: 2rem;
$nav-link-font-size: 1.25rem;
$main-title-font-size: 3rem;